@font-face {
  font-family: 'Uni Sans';
  font-weight: 300;
  font-display: block;
  font-style: normal;
  src: url('../fonts/Uni-Sans-Book.woff2') format('woff2');
}

.theme--yellow, .custom-cms {
  --color-theme-400: var(--color-yellow-400);
}

.theme--green, .e-commerce {
  --color-theme-400: var(--color-green-400);
}

.theme--blue, .ai-automation {
  --color-theme-400: var(--color-blue-400);
}

.theme--red, .software-development {
  --color-theme-400: var(--color-red-400);
}

.default-plant {
    filter: grayscale(80%) hue-rotate(0deg);
}

.red-plant {
  filter: grayscale(10%) hue-rotate(265deg);
}

.green-plant {
  filter: grayscale(10%) hue-rotate(0deg);
}

.blue-plant {
  filter: grayscale(10%) hue-rotate(145deg);
}

.yellow-plant {
  filter: grayscale(10%) hue-rotate(325deg);
}

.service-hover-effect {
  &:has(*.e-commerce:hover) .green-plant {
    opacity: 1;
  }

  &:has(*.software-development:hover) .red-plant {
    opacity: 1;
  }

  &:has(*.ai-automation:hover) .blue-plant {
    opacity: 1;
  }

  &:has(*.custom-cms:hover) .yellow-plant {
    opacity: 1;
  }
}