@font-face {
  font-family: 'Uni Sans';
  font-weight: 300;
  font-display: block;
  font-style: normal;
  src: url('../fonts/Uni-Sans-Book.woff2') format('woff2');
}

.theme--yellow,
.cms-websites {
  --color-theme-400: var(--color-yellow-400);
}

.theme--green,
.e-commerce {
  --color-theme-400: var(--color-green-400);
}

.theme--blue,
.ai-automation {
  --color-theme-400: var(--color-blue-400);
}

.theme--red,
.software-development {
  --color-theme-400: var(--color-red-400);
}

.service-hover-effect {
  &:has(*.e-commerce:hover) svg path {
    fill: var(--color-green-200);
  }

  &:has(*.software-development:hover) svg path {
    fill: var(--color-red-200);
  }

  &:has(*.ai-automation:hover) svg path {
    fill: var(--color-blue-200);
  }

  &:has(*.cms-websites:hover) svg path {
    fill: var(--color-yellow-200);
  }
}
