@import 'tailwindcss';
@import './base.css';
@import './typography.css' layer(components);

@custom-variant en (html[lang=en] &);
@custom-variant es (html[lang=es] &);

@theme {
  --color-theme: var(--color-white);
  --color-theme-accent: var(--color-orange-500);
  --color-theme-contrast: var(--color-black);

  --color-theme-950: var(--color-sky-950);
  --color-theme-900: var(--color-sky-900);
  --color-theme-800: var(--color-sky-800);
  --color-theme-700: var(--color-sky-700);
  --color-theme-600: var(--color-sky-600);
  --color-theme-500: var(--color-sky-500);
  --color-theme-400: var(--color-sky-400);
  --color-theme-300: var(--color-sky-300);
  --color-theme-200: var(--color-sky-200);
  --color-theme-100: var(--color-sky-100);
  --color-theme-50: var(--color-sky-50);

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.25rem;
  --text-3xl: 1.75rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.5rem;
  --text-7xl: 4rem;
  --text-7xl--line-height: 4.5rem;

  --radius-4xl: 2.5rem;

  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-display: "Lexend", ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-display-length: 2;
}